

    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('plantes_index') }}">Plantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('dashboard_index') }}">Dashboards</a>
      </li>
  </div>
</nav>