@import '../../variables-styles.scss';

.card-img-top {
	height: auto;
	width: 150px;

	@media (min-width: $md-breakpoint ) {
		height: 200px;
		width: auto;
	}
}

.card {
	border-radius: 10px !important;
	cursor: pointer !important;
}

.card-header {
	background-color: transparent;
	border: none;

	.separator {
		min-width: 60%;
		min-height: 100%;
		margin: auto;

		div {
			background-color: $main-color;
			min-width: 100%;
			min-height: 3px;
			border-radius: 50px;
			margin: auto;
		}
	}
}

p {
	color: $annotations-color;
}

img {
	object-fit: cover;
}

.animated{
	box-shadow: 0px 5px 10px rgba(34, 135, 73, 0.5);
	transform: scale(1.05) translate(-10px,-10px);
	transition: all 0.5s ease-out;
}