@import '../../variables-styles.scss';

.banner {	
	margin-top: $navbar-height;
	min-height: $banner-height;
	background: url('https://i.postimg.cc/GpFXntZY/Pngtree-hand-drawn-noise-illustration-green-4058540.png'),
		url("https://i.postimg.cc/HLzbtyqS/opacity-plant.png"),
		#1A432A;
	background-blend-mode: luminosity;
	background-repeat: no-repeat;
	background-size: 75%, 
		60%;
	background-position: -50% 40%, 
		120%;

	@media (min-width: $lg-breakpoint) {
		height: 100vh;
		background-size: 150%,
			120%;	
		background-position: right top, 
			-150% 150%;
	}
}

.main-content {
	margin-top: $banner-height;
	min-height: 100vh;
	@media (min-width: $lg-breakpoint) {
		margin-top: $navbar-height;	
	}
}