
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import './variables-styles.scss';


/*
* style principal
*/

* {
	box-sizing: border-box;
}

body {
	font-size: $font-size-base;
}


.arrosage {
	
	.arrosage-plante .is-hidden {
		display: none !important;
	}
	
}
