{% extends 'base.html.twig' %}

{% block title %}Edit Plantes{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}

        <h1>Edit Plantes</h1>

        {{ include('plantes/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('plantes_index') }}">back to list</a>

        {{ include('plantes/_delete_form.html.twig') }}

    {% endif %}

{% endblock %}
