{% extends 'base.html.twig' %}

{% block title %}New Plantes{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}

        <h1>Create new Plantes</h1>

        {{ include('plantes/_form.html.twig') }}

        <a href="{{ path('plantes_index') }}">back to list</a>

    {% endif %}
    
{% endblock %}
