{% extends 'base.html.twig' %}

{% block title %}New Plantes{% endblock %}

{% block body %}
    <h1>Create new Plantes</h1>

    {{ include('plantes/_form.html.twig') }}

    <a href="{{ path('plantes_index') }}">back to list</a>
{% endblock %}
