/*
* reatribution variables Boottrap
*/

/* bootstrap theming */
$blue: #1A432A;
$gray-600: #C98E3E;
$green :#228749;
$gray-100: #EDECEA;

/* theme's color */
$main-color: $blue;
$highlight-color: $gray-600;
$action-color: $green;
$light-bg-color: $gray-100;
$link-color: $highlight-color;

/* shapes */
$border-radius: .12rem;

/* Typeface */
$font-size-base: 1rem;
$headings-font-family: 'Vidaloka';
$h1-font-size: $font-size-base * 4.5;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

$annotations-color: $gray-500;
$banner-height: 300px;
$lg-breakpoint: 62rem;
$md-breakpoint: 48rem;