@import '../../variables-styles.scss';

.filtrage {
	margin-top: $navbar-height;
	min-height: $banner-height;

	@media (min-width: $lg-breakpoint) {
		height: 100vh;
	}
}

.main-content {
	margin-top: 0;
	min-height: 100vh;
	
	@media (min-width: $lg-breakpoint) {
		margin-top: $navbar-height;	
	}
}

.username {
	color: $main-color;
}

h2 {
	text-align: center;

	@media (min-width: $lg-breakpoint) {
		text-align: left;	
	}
}

.arrosage {
	font-size: 1.5rem;
}