{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1>Dashboard</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dashboard.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('dashboard_index') }}">back to list</a>

    <a href="{{ path('dashboard_edit', {'id': dashboard.id}) }}">edit</a>

    {{ include('dashboard/_delete_form.html.twig') }}
{% endblock %}
