@import '../../variables-styles.scss';

.banner {	
	margin-top: $navbar-height;
	min-height: $banner-height;
	background-color: white;
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: center center;
	position: inherit;

	@media (min-width: $lg-breakpoint) {
		min-height: calc((100vh - 140px) - 75px);
		position: fixed;
	}
}

.main-content {
	height: auto;
	@media (min-width: $lg-breakpoint) {
		margin-top: $navbar-height;
		min-height: 100vh;
	}

	.content {
		margin-bottom: 20px;
		@media (min-width: $lg-breakpoint) {
			margin-bottom: 0;
		}
	}
}

footer {
	z-index: 200;
	height: auto;
	background-color: $main-color;

	@media (min-width: $lg-breakpoint) {
		height: 140px;
		position: fixed;
		width: 100%;
		bottom: 0;
		left: 0;
	}
}

.list-group-item {
	background-color: transparent;
}

.informations {
	span {
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}
}


