@import '../../variables-styles.scss';

.banner {
	margin-top: 0;	
	min-height: $banner-height;
	background: url('https://i.postimg.cc/qRh9N8h6/people-happy.png'),
		url('https://i.postimg.cc/GpFXntZY/Pngtree-hand-drawn-noise-illustration-green-4058540.png'),
		#1A432A;
	background-blend-mode: luminosity;
	background-repeat: no-repeat;
	background-size: 100%, 
		50%;
	background-position: 0% -100%, 
		150% 0;

	@media (min-width: $lg-breakpoint) {
		height: 100vh;
		background-size: 180%,
			180%;	
		background-position: 50% 100%, 
			50% 150%;
	}
}

.main-content {
	margin-top: $banner-height;
	min-height: 100vh;
	@media (min-width: $lg-breakpoint) {
		margin-top: 0;	
	}
}